@using Microsoft.Extensions.Options;
@inject IOptions<ProSettings> options
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@options?.Value?.Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <base href="/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazeGate.Dashboard.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
</body>

</html>